{% extends "layout.html" %}

{% block mainContent %}
<div class="splash">
  <h1 class = "subhead"> All Events </h1>
  <div class="createnew" style="text-align: center">
    <a href="/events/new" id = "new" class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus" style="color: #00B7FF"></span> &nbsp;EVENT
    </a>
    </div>
  <div class="eventlist">
    {% include "fragments/events-list.html" %}
  </div>
</div>

{% endblock %}

<!--{% block footer %}-->
<!--  <footer>-->
<!--    Look at me customize the footer. The time is now {{time}}.-->
<!--    <a href="/about">About us</a>.-->
<!--  </footer>-->
<!--{% endblock %}-->
