{% extends "layout.html" %}

{% block mainContent %}
<div class="splash">
  <h1 class = "subhead"> Events on Record</h1>
  <div class="eventlist">
    {% include "fragments/events-list.html" %}
  </div>
  <div>
    <div class="createnew">
       <a href="/events/new" id = "new" class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-plus"></span> Create a new Event
    </a>
    </div>
  </div>
</div>

{% endblock %}

<!--{% block footer %}-->
<!--  <footer>-->
<!--    Look at me customize the footer. The time is now {{time}}.-->
<!--    <a href="/about">About us</a>.-->
<!--  </footer>-->
<!--{% endblock %}-->
