{% extends "layout.html" %}
  <script>
    // Define JavaScript for each page variation of this experiment.
    var pageVariations = [
      function() {},  // Original: Do nothing. This will render the default HTML.
      function() {    // Variation 1: add RSVP text
        $( 'li.event' ).prepend( 'RSVP ' );
      }
    ];
     
    // Wait for the DOM to load, then execute the view for the chosen variation.
    $(document).ready(function(){
      // Ask Google Analytics which variation to show the user.
      var chosenVariation = cxApi.chooseVariation('ApHQS_bRRteQ98DOfFhgtA');
      
      console.log('chosenVariation =', chosenVariation);
     
      // Execute the chosen view
      pageVariations[chosenVariation]();
      
    });
  </script>


{% block mainContent %}
  <div id = "splash" class="splash">
    <h1 id="splashhead" class="splashhead">
      Welcome to EventLand.
    </h1>
    <h2 class = "subsplashhead">
      The premier website for event organization.
    </h2>
      <a href="#secondhalf" class="bounce"><span class=" splashhead glyphicon glyphicon-chevron-down"></span></a>
  </div>
  <div class="splash" id="secondhalf">
   
    <h1 class = "currentevents">Current Events</h1>
    <div class="eventlist">
       {% include "fragments/events-list.html" %}
    </div>
    <div class="createnew">
       <a href="/events/new" id = "new" class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-plus"></span> Create a new Event
    </a>
    </div>
   
  </div>
{% endblock %}