{% extends "layout.html" %}
{% block mainContent %}
  <div id = "splash" class="splash">
    <h1 id="splashhead" class="splashhead">
      Welcome to EventLand.
    </h1>
    <h2 class = "subsplashhead">
      The premier website for event organization.
    </h2>
      <a href="#secondhalf" class="bounce"><span class=" splashhead glyphicon glyphicon-chevron-down"></span></a>
  </div>
  <div class="splash" id="secondhalf">
    <h1 class = "currentevents">Current Events</h1>
    <div class="createnew" style="text-align: center">
      <a href="/events/new" id = "new" class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-plus" style="color: #00B7FF"></span> &nbsp;EVENT
      </a>
    </div>
    <div class="eventlist">
       {% include "fragments/events-list.html" %}
    </div>
    
   
  </div>
  
    <!-- Load the Content Experiment JavaScript API client for the experiment -->
  <script src="//www.google-analytics.com/cx/api.js?experiment=HX0LgK31Q3iuzO_VBn3Fng"></script>

   
  <!-- Load the JQuery library -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
   
  <script>
  // Define JavaScript for each page variation of this experiment.
  var pageVariations = [
    function() {},  // Original: Do nothing. This will render the default HTML.
    function() {    // Variation 1: add RSVP text
      $( 'li.event a' ).text( 'RSVP' );
    }
  ];
   
  // Wait for the DOM to load, then execute the view for the chosen variation.
  $(document).ready(function(){
    // Ask Google Analytics which variation to show the user.
    var chosenVariation = cxApi.chooseVariation('HX0LgK31Q3iuzO_VBn3Fng');
    
    console.log('chosenVariation =', chosenVariation);
   
    // Execute the chosen view
    pageVariations[chosenVariation]();
    
  });
  </script>
{% endblock %}