{% extends "layout.html" %}
  <script>
    // Define JavaScript for each page variation of this experiment.
    var pageVariations = [
      function() {},  // Original: Do nothing. This will render the default HTML.
      function() {    // Variation 1: add RSVP text
        $( 'li.event' ).prepend( 'RSVP ' );
      }
    ];
     
    // Wait for the DOM to load, then execute the view for the chosen variation.
    $(document).ready(function(){
      // Ask Google Analytics which variation to show the user.
      var chosenVariation = cxApi.chooseVariation('ApHQS_bRRteQ98DOfFhgtA');
      
      console.log('chosenVariation =', chosenVariation);
     
      // Execute the chosen view
      pageVariations[chosenVariation]();
      
    });
  </script>


{% block mainContent %}
  <div class="splash">
    <h1 class="splashhead">
      Welcome to {{ title }}.
    </h1>
    <h1>Current Events</h1>
    <div>
       {% include "fragments/events-list.html" %}
    </div>
    <a href="/events/new"  class="btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus"></span> Create a new Event
    </a>
  </div>
{% endblock %}