{% extends "layout.html" %}

{% block mainContent %}
  <h1 class="sprintheader"> Bits Please Sprint Report #1</h1>
  <div class="teammember">
    <p>Mohammed Abul (mohammed.abul@yale.edu)</p>
    <p>Henok Addis (henok.addis@yale.edu)</p>
    <p>Arthur Klisz (arthur.klisz@yale.edu)</p>
  </div>
  <div>
    <h3 class="sprintheader">The users stories we completed during this sprint 
        include:</h3>
    <ol>
      <li>As a user, I can access the website.</li>
      <li>As a user, I can visit the url at ‘/’ and see our homepage, which has
          our team logo, an unordered list of events, and a link to new events.
      </li>
      <li>As a user, I can visit your API at ‘/api/events’ and retrieve an 
      object with key events containing all events in JSON format.</li>
      <li>As a user, I can search for events by submitting a GET request</li>
      <li>As a user, I can visit the url at /about and see information about 
          our company</li>
      <li>As a user, I can visit a page for creating new events, which contains 
          a form that is validated</li>
    </ol>
  </div>
{% endblock %}