{% extends "layout.html" %}

{% block mainContent %}
  <h1 class="sprintheader"> Bits Please Sprint Report #1</h1>
  <div class="teammember">
    <p> <span class="name">Mohammed Abul</span> (mohammed.abul@yale.edu)</p>
    <p><span class="name">Henok Addis</span> (henok.addis@yale.edu)</p>
    <p><span class="name">Arthur Klisz</span> (arthur.klisz@yale.edu)</p>
  </div>
  <img class="img-responsive center-block" src="http://i.imgur.com/YJIeHMC.png">
  <div>
    <h3 class="sprintheader">The users stories we completed during this sprint 
        include:</h3>
    <ol>
      <li>As a user, I can access the website.</li>
      <li>As a user, I can visit the url at ‘/’ and see our homepage, which has
          our team logo, an unordered list of events, and a link to new events.
      </li>
      <li>As a user, I can visit your API at ‘/api/events’ and retrieve an 
      object with key events containing all events in JSON format.</li>
      <li>As a user, I can search for events by submitting a GET request</li>
      <li>As a user, I can visit the url at /about and see information about 
          our company</li>
      <li>As a user, I can visit a page for creating new events, which contains 
          a form that is validated</li>
    </ol>
  </div>
  <div>
    <p>Since our sprint team meeting, we have worked to create a functional 
    website for the user. We have created the homepage, an About Us page, an 
    Events page, and more for the user to browse and have allowed the user to 
    access and search our API for events. We initially encountered a roadblock 
    in getting the environment setup, but with some help from Kyle everything 
    was functional pretty quickly. Apart from the initial setup, one of our 
    main challenges during this sprint was figuring out git and how to 
    branch/merge properly but that was quickly sorted out with some googling 
    and trial and error. We worked through our troubles pretty seamlessly 
    because the team had good communication through Facebook chat. Everyone 
    was up-to-date on what we were doing and everyone was updating the Waffle.io 
    board properly which helped facilitate a smooth workflow. We are currently
    passing 37 of the 41 tests at the end of the first sprint. </p>
  </div>
  <div>
    <h3 class="sprintheader">Our current backlog, in order, consists of implementing the following 
        features: </h3>
    <ol>
      <li>A select element for each of the year, month, day, hour, and minute 
          form elements</li>
      <li>An input element to submit a newly created event</li>
      <li>Redirecting the user to the detail page for the newly created event 
          (if the submitted form is valid)</li>
      <li>Redirecting the user back to the form (if the submitted form is not 
          valid) and showing the errors on the form</li>
      <li>RSVPing for an event on the event detail page</li>
      <li>Make our website actually look awesome</li>
    </ol>
  </div>
  <div>
    <p>By the end of the second sprint, we expect to pass the remainder of the 
    41 tests by implementing the features listed above, so that for the third 
    sprint we can focus on the style of our website. Since the items that are 
    left are more detailed and more difficult to implement, the group will 
    probably work on these in person. With proper branching and coordination, 
    we should be able to complete the backlog by the end of the next sprint.</p>
  </div>
{% endblock %}