{% extends "layout.html" %}

{% block mainContent %}
  <h1 class="sprintheader"> Bits Please Sprint Report #3</h1>
  <h2 class="date">February 18, 2015</h2>
  <div class="teammember">
    <p>Mohammed Abul (mohammed.abul@yale.edu)</p>
    <p>Henok Addis (henok.addis@yale.edu)</p>
    <p>Arthur Klisz (arthur.klisz@yale.edu)</p>
  </div>
  <img class="img-responsive center-block" src="http://i.imgur.com/lLwoH7G.png">
  <div>
    <h3 class="sprintheader">The stories we completed during this sprint 
                             include:</h3>
    <ol>
      <li>Create a stylized homepage</li>
      <li>Display events on the homepage in a responsive manner</li>
      <li>Add event gifs to event descriptions on the homepage</li>
      <li>Create a stylized About Us page</li>
      <li>Create a stylized Events page</li>
      <li>Implement Google Analytics A/B testing experiments</li>
    </ol>
  </div>
  <div>
    <p>Since our previous sprint, where we completed all the technical 
    requirements of the website and passed all of the tests, we focused our 
    efforts on stylizing the website and implementing the A/B testing 
    experiments. To stylize our website, we outlined general designs during 
    our sprint planning meeting and worked to introduce a variety of styles 
    before choosing one based on group consensus. Although this strategy was 
    highly unstructured, we believe it allowed us to push our ideas forward as 
    we were constantly reevaluating the best style options and modifying our 
    website accordingly. Apart from stylizing our website, we continued in our 
    efforts to address the project “curveball”. Although we were successful in 
    implementing Google Analytics into our website during the second sprint, 
    we attempted to introduce A/B testing during this sprint. The team faced a 
    challenge in identifying accurate goals for the Google Analytics platform to
    track the results of the A/B testing. Although we were able to successfully 
    introduce the A/B testing variations, we were unsuccessful in actually 
    capturing the data on click through rates and conversions. We tried multiple 
    goals, but, in the end, we were unsuccessful. </p>
  </div>
  <div>
    <h3 class="sprintheader">Our current backlog, in order, consists of the 
                             following: </h3>
    <ol>
      <li>Fix the Google Analytics tracking goals to actually capture the data 
          on click through rates and conversions for analysis</li>
    </ol>
  </div>
  <div>
    <p>Going forward, we want to continue improving our data analytics 
    capabilities. After successfully implementing all of the technical 
    requirements and stylizing our website to our satisfaction, we would like 
    to understand how users interact with our website and introduce improvements 
    accordingly.</p>
  </div>
  <h3 class = "sprintheader"> Project Retrospective </h3>
  <p>In retrospect, we are very satisfied with our performance during this 
  project. We began with a strong Sprint 1 in which we completed many of the 
  project’s technical requirements. This allowed us to focus on completing the 
  remainder of the technical requirements and preparing for the curveball in 
  Sprint 2. As a result, we were free to design and stylize our website in 
  Sprint 3 and focus more on introducing advanced testing. Unfortunately, we 
  were unable to gather the data we were looking for from the A/B tests that we 
  implemented and we would have liked to spend a little more time on it. In the 
  end, however, we believe that we were able to handle the pressure well as a 
  team through constant contact in the form of sprint meetings, standup
  meetings, and messaging platforms. This allowed us to make decisions quickly
  and collectively and to continually make progress.</p>
{% endblock %}
